# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
$.sh

#Various
*~
*.mk
bin/
target/
*cachegrind*
*.out
*.si
._*

#Eclipse
*.class
*.classpath
*.project
*.settings
*.cache
*.cproject
/.cache
/.classpath
/.project

#VTune
r00*

#Large mock test files
tests/inputs/CIDR15
clinical*.csv
genetic*.csv
inputs/json/spam/*.json
tests/inputs/ssbm**
tests/inputs/tpch**
tests/inputs/ch**

#Generated code folder
generated_code/**

#Scratchpad
scratchpad/**
cmake-build-debug*
cmake-build*
.idea/*
*.sublime-workspace
.clion.source.upload.marker
!.idea/codeStyles

#Documentation
docs/**

#Temporary files
*.fuse_hidden*
apps/benchmarks/htap/queries/clotho/cpu/*.cpp

ccache*
