# force an error if the availble version of node does not match the
#  version specified in package.json
# source: https://stackoverflow.com/questions/29349684/how-can-i-specify-the-required-node-js-version-in-package-json
# For now we pin to node 16, as CI runs on ubuntu 18.04 and the next
# node LTS 18 requires glibc 2.28
engine-strict=true